In [60]:
import pandas as pd
import re

In [99]:
review_dataset = pd.read_excel("../data/Locations.xlsm",sheet_name="Review Details")
review_dataset = pd.DataFrame(review_dataset)
review_dataset.tail()

,Business Name,Street Number,Route,Postal Town,County,Country,Postcode,Overall Rating,Language,Rating,Review Description,Time,Date
22381,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,Just had Ford Ranger polished so pleased with ...,1.654364e+09,2022-06-04 17:31:51
22382,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,"The name says it all!\nFantastic service, grea...",1.641225e+09,2022-01-03 15:44:22
22383,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,A brilliant super hand car wash. Drove away sp...,1.652984e+09,2022-05-19 18:06:27
22384,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,Always happy when my black and yellow fiesta c...,1.654781e+09,2022-06-09 13:28:00
22385,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,Great hand car wash\n£7 for great clean\nFrien...,1.647286e+09,2022-03-14 19:29:04

In [100]:
def remove_punctuation(dataset):
    dataset["Review Description"] = dataset["Review Description"].str.replace('[^\w\s]','',regex=True)
    return dataset

In [101]:
def remove_excess_newlines(dataset):
    dataset["Review Description"] = dataset["Review Description"].str.replace("\\n"," ",regex=False)
    return dataset

In [ ]:
def make_lowercase(dataset):
    return dataset

In [102]:
review_dataset2 = remove_excess_newlines(review_dataset)
review_dataset2 = remove_punctuation(review_dataset)

0        Have to say this is the best salon I've ever b...
1        Nian is incredible! I’ve been coming here for ...
2        I got a new set of gels from Tee, who was so s...
3        I have been coming to this salon since I moved...
4        I had my nails done for the first time and I c...
                               ...
22381    Just had Ford Ranger polished so pleased with ...
22382    The name says it all! Fantastic service, great...
22383    A brilliant super hand car wash. Drove away sp...
22384    Always happy when my black and yellow fiesta c...
22385    Great hand car wash £7 for great clean Friendl...
Name: Review Description, Length: 22386, dtype: object

In [103]:
review_dataset2

,Business Name,Street Number,Route,Postal Town,County,Country,Postcode,Overall Rating,Language,Rating,Review Description,Time,Date
0,Nails and the City,46,Kenyon Street,Birmingham,West Midlands,United Kingdom,B18 6AR,4.7,en,5.0,Have to say this is the best salon Ive ever be...,1.652418e+09,2022-05-13 05:07:20
1,Nails and the City,46,Kenyon Street,Birmingham,West Midlands,United Kingdom,B18 6AR,4.7,en,5.0,Nian is incredible Ive been coming here for a ...,1.661441e+09,2022-08-25 15:22:45
2,Nails and the City,46,Kenyon Street,Birmingham,West Midlands,United Kingdom,B18 6AR,4.7,en,5.0,I got a new set of gels from Tee who was so so...,1.658412e+09,2022-07-21 14:04:52
3,Nails and the City,46,Kenyon Street,Birmingham,West Midlands,United Kingdom,B18 6AR,4.7,en,5.0,I have been coming to this salon since I moved...,1.660734e+09,2022-08-17 10:57:00
4,Nails and the City,46,Kenyon Street,Birmingham,West Midlands,United Kingdom,B18 6AR,4.7,en,5.0,I had my nails done for the first time and I c...,1.659646e+09,2022-08-04 20:41:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22381,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,Just had Ford Ranger polished so pleased with ...,1.654364e+09,2022-06-04 17:31:51
22382,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,The name says it all Fantastic service great p...,1.641225e+09,2022-01-03 15:44:22
22383,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,A brilliant super hand car wash Drove away spa...,1.652984e+09,2022-05-19 18:06:27
22384,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,Always happy when my black and yellow fiesta c...,1.654781e+09,2022-06-09 13:28:00
22385,Super Hand Car Wash,53-55,Llangollen Road,Wrexham,Wrexham Principal Area,United Kingdom,LL14 3RS,5.0,en,5.0,Great hand car wash 7 for great clean Friendly...,1.647286e+09,2022-03-14 19:29:04

In [12]:
#dataset = pd.DataFrame(dataset)
#dataset.to_csv(index=False)